/* Body */
body{
    overflow-x: hidden;
}

/* Scroll Effect */
main{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

#hero-container, .upcoming-gigs-container{
    scroll-snap-align: start;
}
/* Navbar Styling */
.navbar-brand, .nav-link, .navbar-nav, h5, h2{
    color: white;
    font-family: Roboto, sans-serif;
}

.navbar-brand{
    
    font-weight: 700;
    letter-spacing: 0.5rem
}

/* Color change for toggler */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: white;
}

#hero-container {
    height: 95vh;
    width: 100vw;
    z-index: 1;
}

.hero-row {
    height: 100%;
}

.hero-image-container {
    height: 80%;
    width: 80%;
    border: 1px solid dashed;
    border-radius: 15px;
    background: url("images/pexels-martin-lopez-2649113.jpg") no-repeat center center;
    background-size: contain;
    z-index: 1;
}

.hero-image,
.hero-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text-container {
    height: 57%;
    width: 80%;
    border-radius: 15px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 5px 5px 5px #d9d1d1;
}

.next-gig-heading {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-gig-description {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 100%;
}

/* Upcoming Gigs */
.upcoming-gigs-banner {
    height: 20%;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gigs-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.card {
    height: 75%;
}

/* Background Gradient */
#gradient-canvas {
    z-index: -2;
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 65%);
    --gradient-color-1: #c3e4ff; 
    --gradient-color-2: #6ec3f4; 
    --gradient-color-3: #eae2ff;  
    --gradient-color-4: #b9beff;
}
/* Upcoming gigs section */
.upcoming-gigs-container{
    height: 100vh;
    width: 100vw;
    text-align: center;
}

@media  (max-width: 500px){
    .upcoming-gigs-container{
    height: auto
    }
}

.upcoming-gigs-header{
    padding: 1rem;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.25rem
}
.upcoming-gig-row{
    display: flex;
    justify-content: space-evenly;
}

/* Upcoming Gig Card */
#upcoming-gig-image{
    height: 30vh;
}

#upcoming-gig-card{
    height: 50%;
    margin-bottom: 2rem;
    padding:1rem
}

.card-title{
    height: 32%;
}

.card-body{
    height: 20vh;
}